[Unit]
Description=scan-poller
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -L -DmS poller /bin/bash -c "source /root/venv/bin/activate; cd /opt/collector; python3 /opt/reverge_collector/waluigi/scan_poller.py -x $(cat /root/.collector_api_key)"

[Install]
WantedBy=multi-user.target
